<div class="main-container">
   <div class="side-container d-none d-lg-flex">
      <div class="logo-container">
        <img src="/assets/rick_and_Morty.svg" class="img-fluid" alt="Logo">
      </div>
      <div class="links-container">
         <a (click)="selectOption('inicio'); navigateTo('1')" [routerLink]="['/home']" class="link">
            <div class="box" [ngClass]="{'selected': isSelected('inicio')}">
              <mat-icon class="icon">home</mat-icon>
              <div class="text">Inicio</div>
            </div>
          </a>
          <a (click)="selectOption('verSeleccion'); navigateTo('2')" [routerLink]="['/characters/2']" class="link">
            <div class="box" [ngClass]="{'selected': isSelected('verSeleccion')}">
              <mat-icon class="icon">visibility</mat-icon>
              <div class="text">Ver detalle</div>
            </div>
          </a>
      </div>
     <img src="/assets/side_image.svg" class="img-fluid" alt="Logo">
   </div>
   <div class="content-screen">
     <router-outlet></router-outlet>
   </div>
 </div>
 