<div class="card mb-3" [ngClass]="{'selected': isSelectedCharacter(item.id)}" (click)="onToggleSelection(item.id)">
  <div class="card-body d-flex flex-row align-items-center" >
    <div class="avatar-container">
        <img [src]="item.image" class="img-fluid" alt="Avatar">
    </div>
    <div class="name-container d-flex align-items-center">
      <h1 class="card-title" >{{ item.name }}</h1>
    </div>
    <div class="data-container">
      <div class="card-text">Estatus: {{ item.status }}</div>
      <div class="card-text">Especie: {{ item.species }}</div>
      <div class="card-text">Ubicación: {{ item.location.name }}</div>
      <div class="card-text">ID: {{ item.id }}</div>
    </div>
  </div>
</div>