.avatar-container {
    width: 75px; 
    height: 75px; 
  }
  
  .avatar-icon {
    font-size: 24px; 
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 150px;
    background-color: white;
    border-radius: 20px;
  }