.card-deck {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 100%; 
  margin-bottom: 1rem;
  margin-right: 5px;
}

.base-component{
  width: 100%;
  height: 100%;

}

.card-body{
  flex-direction: column;
  display: flex;
}

.main{
}
