
.custom-card {
    margin: 10px; /* Ajusta el margen según tus preferencias */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
  }

  .base-component {
    width: 100vw; 
    height: 100vh;
  }