<div class="base-component container ">
    <ng-container *ngIf="characters.length > 0; else noDataMessage">
      <div class="main">
        <div class="card-deck">
          <div class="card mb-4" *ngFor="let character of characters">
            <div class="background-image card-img" [style.backgroundImage]="'url(' + character.image + ')'" style="height: 500px; background-size: cover;">
              <p class="card-text"><strong>Género:</strong> {{ character.name }}</p>

            </div>
            <div class="card-body">
              <p class="card-text"><strong>Género:</strong> {{ character.gender }}</p>
              <p class="card-text"><strong>Especie:</strong> {{ character.species }}</p>
              <p class="card-text"><strong>Estado:</strong> {{ character.status }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noDataMessage>
      <div class="col-12" style="text-align: center; font-size: 45px;">
        <div class="container" role="alert">
          Antes de seleccionar datos, asegúrate de tener personajes.
        </div>
      </div>
    </ng-template>
</div>
