
  .avatar-container {
    width: 75px; 
    height: 75px; 
  }
  
  .avatar-icon {
    font-size: 24px; 
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .base-component {
    width: 100vw; 
  }
  
  .card {
    height: 150px;
  }
  
  .button-container {
    display: flex;
    margin-top: 15px;
  }

  h1{
    align-content: center;
  }
  