<div class="base-component">
  <app-filers/>
  <div *ngIf="loading; else content">
    <div class="justify-content-center mt-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>
  <ng-template #content>
    <div class="card-deck">
      <app-character-card 
        *ngFor="let item of characters" 
        (toggleEmit)="toggleSelection(item)" 
        [item]="item">
      </app-character-card>
      <div class="button-container">
        <button mat-fab extended
        (click)="handleButtonClick()" 
        color="primary">
          <mat-icon>visibility</mat-icon>
          Ver detalles
        </button>
        <button mat-fab extended
        (click)="handleDeleteSelection()" >
          <mat-icon>delete</mat-icon>
          Borrar selección
        </button>
      </div>
    </div>
 
   
  </ng-template>
</div>
