<div class="container-filters">
    <div class="d-flex col-5 align-items-center mr-1">
        <div class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input class="search-input" placeholder="Buscar" />
        </div>
    </div>
    <div class="d-flex align-items-center col-3">
        <div class="search-container">
            <mat-icon class="search-icon">distance</mat-icon>
            <select class="search-select">
              <option value="option1">Opción 1</option>
              <option value="option2">Opción 2</option>
              <option value="option3">Opción 3</option>
            </select>
            <mat-icon class="chevron-icon">chevron_right</mat-icon>
          </div>
          
    </div>
</div>